# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs

-d
Main.class
cut
hc-average-values.pdf
hc-logs/final-1.dat
hc-logs/final-2.dat
hc-logs/final-3.dat
hc-logs/final-4.dat
hc-logs/final-5.dat
hc-logs/final-6.dat
hc-logs/hc-statistics.dat
